        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="savedata()">Simpan Data</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>