<div class="container">
  <h2 class="text-center">Data Mahasiswa</h2>
    <button type="button" class="btn btn-primary" onclick="tambahdata();">
    Tambah Data
    </button><br><br>
      <table class="table tbale-striped" id="table">