
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/tableexcel/excel-bootstrap-table-filter-bundle.js"></script>
<script src="/assets/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/assets/DataTables/js/jquery.dataTables.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>